**CALCULO DE RISCOS DE AÇÕES:**

In [5]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
from scipy import stats

Taxas de retorno por ano:

In [12]:
dataset = pd.read_csv('acoes_02.csv')
dataset

            Date        GOL    CVC       WEGE       MGLU       TOTS       BOVA
0     2015-01-02  14.990000  15.20   5.923076   0.232812  11.910702  47.259998
1     2015-01-05  14.850000  15.00   5.963461   0.237187  11.544731  46.320000
2     2015-01-06  15.210000  14.80   5.875000   0.234062  10.822770  46.580002
3     2015-01-07  14.550000  14.67   5.807692   0.241875  10.746248  48.150002
4     2015-01-08  14.270000  14.15   5.905769   0.240000  10.995774  48.509998
...          ...        ...    ...        ...        ...        ...        ...
1421  2020-10-27  18.600000  14.17  41.619999  25.450001  28.500000  95.680000
1422  2020-10-28  16.920000  12.77  39.570000  24.629999  27.500000  91.559998
1423  2020-10-29  16.610001  12.68  40.014999  25.360001  28.500000  92.800003
1424  2020-10-30  15.690000  12.28  37.915001  24.629999  27.000000  90.660004
1425  2020-11-03  15.620000  11.88  38.660000  24.990000  27.690001  92.260002

[1426 rows x 7 columns]

Obs.: para medir o risco de uma ação usa-se o desvio padrão(std):

In [13]:
dataset.describe()

,GOL,CVC,WEGE,MGLU,TOTS,BOVA
count,1426.000000,1426.000000,1426.000000,1426.000000,1426.000000,1426.000000
mean,14.487581,32.442040,10.545286,4.696922,13.122511,71.662896
std,10.244599,16.066867,7.190749,6.113959,5.435044,19.970061
min,1.160000,6.106568,4.942307,0.030585,7.156402,36.450001
25%,6.510000,18.000000,6.309615,0.190078,9.788901,53.272500
50%,11.575000,28.660000,8.363461,2.267968,10.646438,70.805000
75%,20.170000,47.299999,9.845865,6.042109,14.127324,90.565001
max,43.790001,64.800003,41.775002,26.219999,29.850000,115.209999

Calculo dos retornos anuais:

2015

In [17]:
dataset['CVC'][dataset['Date'] == '2015-01-02'], dataset['CVC'][dataset['Date'] == '2015-12-30']

(0    15.2
 Name: CVC, dtype: float64,
 244    13.5
 Name: CVC, dtype: float64)

Obs. Utiliza-se da taxa de retorno logaritmica que é recomendado quando se quer compara a mesma ação em intervalos de ações diferentes

In [18]:
# Divide o segundo valor anual pelo primeiro e multiplica-se por 100 para que o resultado seje em percentual:
np.log(13.5 / 15.2) * 100

-11.86057424078469

In [20]:
# Filtra as colunas individualizadas das açoes e das datas.
#   exemplo:
#   Coluna: 'MGLU' e Coluna 'Date'
dataset['MGLU'][dataset['Date'] == '2015-01-02'], dataset['MGLU'][dataset['Date'] == '2015-12-30']

(0    0.232812
 Name: MGLU, dtype: float64,
 244    0.068945
 Name: MGLU, dtype: float64)

In [21]:
np.log(0.068945 / 0.232512) * 100

-121.5632751305032

In [22]:
dataset['WEGE'][dataset['Date'] == '2015-01-02'], dataset['WEGE'][dataset['Date'] == '2015-12-30']

(0    5.923076
 Name: WEGE, dtype: float64,
 244    5.75
 Name: WEGE, dtype: float64)

In [23]:
np.log(5.75 / 5.923076) * 100

-2.9656053738720103

2016

In [24]:
dataset['CVC'][dataset['Date'] == '2016-01-04'], dataset['CVC'][dataset['Date'] == '2016-12-29']

(245    12.53
 Name: CVC, dtype: float64,
 493    23.700001
 Name: CVC, dtype: float64)

In [25]:
np.log(23.700001 / 12.53) * 100

63.734932142720055

In [26]:
dataset['MGLU'][dataset['Date'] == '2016-01-04'], dataset['MGLU'][dataset['Date'] == '2016-12-29']

(245    0.070117
 Name: MGLU, dtype: float64,
 493    0.414726
 Name: MGLU, dtype: float64)

In [27]:
np.log(0.414726 / 0.070117) * 100

177.74527858732137

2017

In [32]:
dataset['CVC'][dataset['Date'] == '2017-01-02'], dataset['CVC'][dataset['Date'] == '2017-12-28']

(494    23.02
 Name: CVC, dtype: float64,
 739    48.5
 Name: CVC, dtype: float64)

In [33]:
np.log(48.50 / 23.02) * 100

74.5200394649701

In [34]:
dataset['MGLU'][dataset['Date'] == '2017-01-02'], dataset['MGLU'][dataset['Date'] == '2017-12-28']

(494    0.397304
 Name: MGLU, dtype: float64,
 739    2.506875
 Name: MGLU, dtype: float64)

In [35]:
np.log(2.506875 / 0.397304) * 100

184.20905057957242

2018

In [39]:
dataset['CVC'][dataset['Date'] == '2018-01-02'], dataset['CVC'][dataset['Date'] == '2018-12-28']

(740    49.880001
 Name: CVC, dtype: float64,
 980    61.18
 Name: CVC, dtype: float64)

In [40]:
np.log(61.18 / 49.880001) * 100

20.420019786280637

In [45]:
dataset['MGLU'][dataset['Date'] == '2018-01-02'], dataset['MGLU'][dataset['Date'] == '2018-12-28']

(740    2.478125
 Name: MGLU, dtype: float64,
 980    5.658437
 Name: MGLU, dtype: float64)

In [46]:
np.log(5.658437 / 2.478125) * 100

82.56454798281288

2019

In [47]:
dataset['CVC'][dataset['Date'] == '2019-01-02'], dataset['CVC'][dataset['Date'] == '2019-12-30']

(981    61.099998
 Name: CVC, dtype: float64,
 1215    43.799999
 Name: CVC, dtype: float64)

In [48]:
np.log(43.799999 / 61.099998) * 100

-33.28780388929749

In [43]:
dataset['MGLU'][dataset['Date'] == '2019-01-02'], dataset['MGLU'][dataset['Date'] == '2019-12-30']

(981    5.812187
 Name: MGLU, dtype: float64,
 1215    11.925
 Name: MGLU, dtype: float64)

In [44]:
np.log(11.925 / 5.812187) * 100

71.86801167732301

2020

In [57]:
dataset['CVC'][dataset['Date'] == '2020-01-02'], dataset['CVC'][dataset['Date'] == '2020-11-03']

(1216    44.709999
 Name: CVC, dtype: float64,
 1425    11.88
 Name: CVC, dtype: float64)

In [58]:
np.log(11.88 / 44.709999)

-1.325340853945029

In [59]:
dataset['MGLU'][dataset['Date'] == '2020-01-02'], dataset['MGLU'][dataset['Date'] == '2020-11-03']

(1216    12.3325
 Name: MGLU, dtype: float64,
 1425    24.99
 Name: MGLU, dtype: float64)

In [60]:
np.log(24.99 / 12.3325) * 100

70.62376907211046